/* Import Playfair Display font */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,900&display=swap'); */
@import url('playfair_display.css');
/* Localy hosted Google fonts */

/* Import Raleway font */
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */
@import url('raleway.css'); /* Localy hosted Google fonts */

html, body {
    height: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
    background-image: url("../background_image.jpeg");
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
}

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
    font-size: 2.25rem;
}

.blog-header-logo:hover {
    text-decoration: none;
}

div#latest_entry {
    position: relative;
    right: 7.5vw;
    background-color: darkblue;

}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100vw;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

.blog-post {
    margin-bottom: 2rem;
    position: relative;
    right: 7.5vw;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

.blog-footer {
    padding: 1rem 0;
    color: #999;
    text-align: center;
    background-color: #f2f3f4;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}

nav {
    background-color: #f2f3f4;
    border-bottom: .05rem solid #e5e5e5;
}

img#icon123 {
    height: 40px;
    width: 40px;
}

header#header_base {
    border-bottom: none;

}

header a#add_button123 {
    display: flex;
    background-color: #99EE99;
    border-color: #99EE99;
    color: black;
    height: 100px;
    width: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: relative;
    left: 74vw;
    top: 5vw;
    /*transition: bottom 0.3s ease-in-out;*/
    /*z-index: 10;*/

}
a#add_button123:hover {
    background-color: #83D683;
    border-color: #83D683;
    color: white;
}

a#link_to_the_bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 10vw;
    margin-left: 34vw;
}


div#no_blog_posts {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 13vw;
}

div.card {
    top: -4vw;
}

div#no_clue {
    width: 3px;
    height: 3px;
    background-color: firebrick;
    position: relative;
    left: 155px;
    top: -30px;
}
