{% extends "base.html" %}

{% block title %}Diary-oh &middot; Index{% endblock %}

{% block content %}
    {% if data %}
        {% for item in data %}
            {% if loop.first %}
                <div class="jumbotron p-4 p-md-5 text-white rounded" id="latest_entry">
                    <div class="col-md-12 px-0">
                        <h1 class="display-4 font-italic">{{ item.title }}</h1>
                        <p class="text-secondary">Last Edited: {{ item.updated.strftime('%d. %m. %Y') }}</p>
                        <p class="lead mb-0"><a href="/post/view/{{ item.id }}" class="text-white font-weight-bold" class="view_diary_entry">View
                            diary entry</a></p>
                        <p class="pull-right">
                            <a class="btn btn-outline-light" href="/post/edit/{{ item.id }}" class="edit_entry_button">Edit</a>
                            <a class="btn btn-outline-secondary" href="/post/delete/{{ item.id }}"
                               class="delete_entry_button">Delete</a>
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="blog-post p-4 p-md-5" id="other_entries" style="background-color: lightblue">
                    <h2 class="blog-post-title font-italic">{{ item.title }}</h2>
                    <p class="blog-post-meta">Last Edited: {{ item.updated.strftime('%d. %m. %Y') }}</p>
                    <p class="mt-2 mb-0"><a href="/post/view/{{ item.id }}" class="view_diary_entry">View diary entry</a></p>
                    <p class="pull-right pr-8">
                        <a class="btn btn-outline-primary" href="/post/edit/{{ item.id }}" class="edit_entry_button">Edit</a>
                        <a class="btn btn-outline-danger" href="/post/delete/{{ item.id }}" class="delete_entry_button">Delete</a>
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div id="no_blog_posts">You currently have no diary entries. <br>Click the green button to add a new entry!</div>
    {% endif %}
{% endblock %}
